<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>a</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        
            <div class="col-md-4 col-xs-2">
            </div>
            <div class="col-md-4 col-xs-8">
                <h1>Home</h1>
                <p class="lead" >https://fir.im/sack</p>
                <p>
                    <a class="btn btn-primary btn-large" href="https://fir.im/sack">Download Push Collector</a>
                </p>
            </div>
            <div class="col-md-4 col-xs-2">
            </div>
        
    </div>
</body>

</html>
